---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { description, image } = Astro.props;

const title = `${Astro.props.title} | Let's Church`;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {description ? <meta name="description" content={description} /> : null}
    <meta name="og:url" content={Astro.url} />
    <meta name="og:type" content="website" />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    {image ? <meta name="og:image" content={image} /> : null}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="lets.church" />
    <meta name="twitter:url" content={Astro.url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div id="letschurch">
      <slot />
    </div>
  </body>
</html>
